---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					🌊 Hello, world! 
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						My name is<span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"> <a href="https://brie.carranza.engineer">Brie Carranza</a></span>. 
							I am passionate about <span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://gitcute.cat">cats</a></span>, <span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://sunflower.gallery">sunflowers</a></span>, emoji, OSINT, GraphQL, cybersecurity, making cool websites and DevOps tools. 
							I love experimenting with new technologies and reading infosec writeups. I love asking (and answering) the question "...but can I do that in a CI pipeline?".
							</p>
							<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
					
							 One of the things that makes me tick is explaining technology and helping people understand how to make a solution work for them. I enjoy being a leader and mentor and working to build other leaders. Our jobs are not easy but I care about working together effectively to make work a little bit easier. 
</p>
<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
	You can learn more about me in my <span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://bcarranza.gitlab.io/readme/">README</a></span>, on <span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://www.linkedin.com/in/briecarranza/">LinkedIn</a></span> or in these videos:
<ul>
	<li><span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://www.youtube.com/watch?v=d2vo_--lX-M">🎥 Interview with GitLab Support Engineer Brie Carranza</a></span> (2021)</li>
	<li><span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://vimeo.com/795905655">🎥 Talk: Troubleshooting like Batman</a></span> (2022)</li>
	<li><span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://www.youtube.com/watch?v=7hUIyTX_0Ow">🎥 Bruno Freitas Interviews Brie Carranza | GitLab Support</a></span> (2023)</li>
	<li><span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://www.youtube.com/watch?v=OxR_GTTawLE">🎥 Brie Carranza Interviews Manuel Grabowski | GitLab Support</a></span> (2023)</li>
	<li><span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2"><a href="https://www.youtube.com/watch?v=50LObql1dx8">🎥 ✨ Our Paths to Staff Support Engineer | GitLab Support (2024)</a></span></li>
</ul>
</p>
				</div>
			</div>
			<div>
				<div class="relative m-auto max-w-4xl">
					<Picture
						src={import('~/assets/images/hero.png')}
						class="mx-auto rounded-md w-full"
						widths={[400, 768, 1480]}
						sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
						alt="Hero Image"
						aspectRatio={1480/833}
						loading="eager"
						width={1480}
						height={833}
					/>

					<p>Generated by Midjourney with the prompt: highly computerized clouds connected by network cables, lights flashing in the clouds, error messages in the sky</p>
				</div>
			</div>
		</div>
	</div>
</section>
