---
import { getPermalink } from '~/utils/permalinks';
---

<div
	class="hidden md:block bg-primary-100 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-primary-100 text-sm px-3 py-2 text-gray-800 overflow-hidden whitespace-nowrap text-ellipsis"
>
	<span class="text-xs py-0.5 px-1 bg-primary-200 dark:bg-slate-600 font-semibold">NEW</span>
	<a
		href="https://httpcat.us"
		class="hover:underline text-gray-700 dark:text-slate-400"
		>HTTP Response Status Code Cats »</a
	>
	<a
		target="_blank"
		rel="noopener"
		class="float-right"
		title="Explore the source, star if you like. ✨"
		href="https://gitlab.com/brie/httpmeow"
	>
		<img
			src="https://img.shields.io/gitlab/pipeline-status/brie/httpmeow?branch=main"
			alt="Star brie/httpmeow"
			width="84"
			height="20"
		/>
	</a>
</div>

