---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>⌨️ awesome-kinesis</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					
					This is one of the most popular repositories I have curated. It's an <a href="https://github.com/sindresorhus/awesome">awesome</a> list of projects, resources and references for Kinesis keyboard enthusiasts. 

				</p>

				<div class="mt-6">
						<a
						class="btn btn-primary mb-4 sm:mb-0"
						href="https://github.com/bbbbbrie/awesome-kinesis"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:star" class="w-5 h-5 mr-1 -ml-1.5" />Star awesome-kinesis!
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>🌻 HELIANTHUS</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					HELIANTHUS is a collection of photos I've taken of sunflowers that I have grown.				</p>

				<div class="mt-6">
					<a
						class="btn btn-primary mb-4 sm:mb-0"
						href="https://sunflower.gallery"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:seeding" class="w-5 h-5 mr-1 -ml-1.5" /> View the gallery
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>🥣 Pastebin Bisque</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					I wrote a Python script that downloads all of a user's public Pastebin pastes. This solved a small problem I had and gave me a real opportunity to experiment with BeautifulSoup4.
				</p>

				<div class="mt-6">
					<a
						class="btn btn-primary mb-4 sm:mb-0"
						href="https://github.com/bbbbbrie/pastebin-bisque"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:external-link" class="w-5 h-5 mr-1 -ml-1.5" /> pastebin-bisque
					</a>
				</div>
			</div>
		</div>
	</div>
</section>