---
import { Icon } from 'astro-icon';
import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

const links = [
	{
		title: 'Support',
		items: [
			{ title: 'Docs', href: '#' },
			{ title: 'Community Forum', href: '#' },
			{ title: 'Professional Services', href: '#' },
			{ title: 'Skills', href: '#' },
			{ title: 'Status', href: '#' },
		],
	},
	{
		title: 'Company',
		items: [
			{ title: 'About', href: '#' },
			{ title: 'Blog', href: '#' },
			{ title: 'Careers', href: '#' },
			{ title: 'Press', href: '#' },
			{ title: 'Inclusion', href: '#' },
			{ title: 'Social Impact', href: '#' },
			{ title: 'Shop', href: '#' },
		],
	},
];

const social = [
    { label: 'GitLab', icon: 'tabler:brand-gitlab', href: 'https://gitlab.com/brie' },
    { label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://twitter.com/whoamibrie' },
	{ label: 'Instagram', icon: 'tabler:brand-instagram', href: '#' },
	{ label: 'RSS', icon: 'tabler:rss', href: getRelativeLink('/rss.xml') },
	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/bbbbbrie' },
];
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<div class="mb-2">
					<a class="inline-block font-bold text-xl" href={getHomePermalink()}>🦄 brie.dev</a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="https://gitlab.com/brie/dev">Source</a
					> 

<!-- 
                                     ·
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Privacy Policy</a
					>

-->
				</div>
			</div>

		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="w-5 h-5" />
							</a>
						</li>
					))
				}
			</ul>

			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				
				Made with 🚀 <a href="https://astro.build">Astro</a> and 💖 love.
			</div>
		</div>
	</div>
</footer>
