---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					👋 Hello, world! 
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						My name is 
						<span class="font-semibold underline  decoration-1 decoration-primary-600 underline-offset-2"><a href="https://brie.carranza.engineer">Brie Carranza</a></span>	
						!</p>
						<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">I share thoughts, stories, ideas and things that make me smile here periodically. 
					</p>

					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400"> 📯 <span class="font-semibold underline  decoration-1 decoration-primary-600 underline-offset-2"><a href="https://infosec.exchange/@brie">toot toot</a>.</span></p>


				</div>
			</div>
			<div>
				
			</div>
		</div>
	</div>
</section>
