---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import PersonalPosts from '~/components/blog/PersonalPosts.astro';
import About from '~/components/widgets/About.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Awesome from '~/components/widgets/Awesome.astro'

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<About />
        <PersonalPosts />
	<Note />
	<CallToAction />
	<Awesome />
</Layout>
