---
import { getRelativeLink } from '~/utils/permalinks';
---
<a rel="me" href="https://infosec.exchange/@brie"></a>
<link rel="shortcut icon" href={getRelativeLink('/favicon.ico')} />
<link rel="icon" type="image/svg+xml" href={getRelativeLink('/favicon.svg')} />
<link rel="mask-icon" href={getRelativeLink('/favicon.svg')} color="#8D46E7" />
