---
import Grid from '~/components/blog/Grid.astro';

import { findPostsByIds } from '~/utils/posties';

const ids = [
	'2021-thoughts-year-gitlab',
	'2023-staff-engineers-path',
        '2023-year-in-review',
	'2024-journey-to-staff'
];
const posts = await findPostsByIds(ids);
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
		<h2 class="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-2xl sm:leading-none lg:mb-5 group font-heading">
			<span class="inline-block mb-1 sm:mb-4">Here are a few of the more personal blog posts I have written...</span>
		</h2>

		<p class="text-gray-700 dark:text-slate-400 lg:text-sm lg:max-w-md">
I hope you enjoy these. 
		</p>
	</div>

	<Grid posts={posts} />
</section>
